# notes_backend environment variables
# The orchestrator should populate these based on the running notes_database container.

POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
